@import "variables";
@import "nib";
.archive {
  .archive-counter {
    text-align: center;
  }
  .archive-title {
    text-align: left;
    margin: 10px;
  }
  .archive-article {
    text-align: left;
    .post-title {
      padding: 0;
      margin: 0;
    }
  }
}
